/* PUT FLUID GRID CODE HERE */
.wrapper { 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.grid-aside { 
  grid-column: 1;
  grid-row: auto;
}

.grid-main {
  grid-column: 2 / 5;
  grid-row: auto;
}