<form action="<%= band_url(@band) %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="patch">

  <input type="text" name="band[name]" value="">
  <input type="submit" value="Update Band">
</form>
